<ul>

  <%@listings.each do |listing|%>
  <li>Name: <%=listing.name%>
    <br>
    Description: <%=listing.description%>
    <br>
    Price per night: £<%=listing.price%>
    <br>
    Available from <%=flip_date(listing.start_date) %> to <%= flip_date(listing.end_date) %>
  </li>
  <%end%>

</ul>
