<ul>

  <%@listings.each do |listing|%>
  <li>Name: <%=listing.name%>
    <br>
    Description: <%=listing.description%>
    <br>
    Price per night: <%=listing.price%>
    <br>
    Available from <%=listing.start_date %> to <%= listing.end_date %>
  </li>
  <%end%>

</ul>
