<h3>Current listings</h3>
<%@listings.each do |listing|%>

  <div class="single_listing">
    <p class="name"> <%=listing.name%> </p>
    <p class="description"> <%=listing.description%> </p>
    <p class="price"> Price per night: £<%=listing.price%> </p>
    <p class="date"> Available from <%=flip_date(listing.start_date) %> to <%= flip_date(listing.end_date) %> </p>
  </div>

<%end%>
